<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content ="MILF, Schoolgirl">

    <title>Css Lecture</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h1>Heading level 1- 6</h1>
<p id="p1">Paragraph</p>

<p>Paragraph</p>

<div class="comicsans bluetext">Division 1</div>
<div class="comicsans">Division 2</div>
<div>Division 3</div>
<div class="bluetext">Division 4</div>

<input type="text" name="username">

<img src="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg?w=738" alt="Code">

<a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>


<ul>
    <li>List item</li>
    <li>List item</li>

    <li>List item</li>

</ul>

<ol>
    <li>List item 1 </li>

    <li>List item 2 </li>
    <li>List item 3 </li>

</ol>

<div>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>

        <p>
        <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>

        </p>

</div>

<div>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>
    <a href="https://ziggy-home.herokuapp.com/" target="_blank">Zig's Home</a>


</div>
</body>
</html>