<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <title>Css Lecture</title>
    <link rel="stylesheet" href="../static/css/menu.style.css">
</head>
<body>

    <nav class="menu">

    <span >Item 1</span>

    <span>Item 2</span>

    <span>Item 3</span>

    <span>Item 4</span>

    </nav>
    <p></p>
    <nav class="menu_vertical">

    <span >Item 11 </span>
    <p></p>
    <span>Item 21 </span>
    <p></p>
    <span>Item 31 </span>
    <p></p>
    <span>Item 41 </span>

    </nav>


</body>
</html>